<div class="movie-grid">
  <div *ngFor="let movie of movies" class="movie-card">
    <mat-card role="article">
      <mat-card-header>
        <mat-card-title class="movieTitle">{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle class="directorName"
          >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
        >
      </mat-card-header>
      <div class="movie-image-container">
        <img
          src="{{ movie.ImagePath }}"
          alt="{{ movie.Title }}"
          class="movieImage"
        />
      </div>
      <mat-card-actions class="actions">
        <button mat-button (click)="openGenre(movie.Genre)">Genre</button>
        <button
          mat-button
          (click)="openDirector(movie.Director)"
        >
          Director
        </button>
        <button
          mat-button
          (click)="openDescription(movie.Description)"
        >
          Synopsis
        </button>
        <button
          mat-icon-button
          [ngClass]="{ favorite: isMovieFavorite(movie) }"
          (click)="toggleFavorite(movie)"
          class="btn-favorite"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
