p {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
}

.movieButtonContainer {
    justify-content: center;
    margin-bottom: 10px;
}

button:hover {
    opacity: 80%;
}

.btn-close {
    color: coral;
}